/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Times New Roman";
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.heading {
  margin-top: 15px;
  text-align: center;
}
.container {
  padding: 20px;
  min-width: 768px;
}
.secondary-heading {
  font-weight: bold;
}

.table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
td,
th {
  border: 2px solid rgba(0, 0, 0, 0.719);
  border-collapse: collapse;
}
input {
  width: 100%;
  border: none;
  padding: 5px;
}

.title-td {
  background-color: #fdeada;
  /* font-size: 9pt; */
  font-weight: bold;
  padding: 5px 10px;
}
